[submodule "test/googletest"]
	path = test/googletest
	url = git@github.com:google/googletest.git
[submodule "include/matplotlib-cpp"]
	path = include/matplotlib-cpp
	url = git@github.com:lava/matplotlib-cpp.git
